/* Install fonts  */
@font-face {
    font-family: OleoScript-Bold;
    src: url('../fonts/OleoScript-Bold.ttf');
}

@font-face {
    font-family: NotoSans-Regular;
    src: url('../fonts/NotoSans-Regular.ttf');
}
/* Install Fonts */

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 70%;
    overflow: hidden;
}

.header {
    width: 100%;
    overflow: hidden;
    background-color: lightcoral;
    padding: 10px;
}


.header .logo {
    font-size: 32px;
    float: left;
    font-family: OleoScript-Bold;
    color: whitesmoke;
}

.header .navigation {
    float: right;
    margin-top: 40px;
    font-family: NotoSans-Regular;
}

.header .navigation li {
    float: left;
    margin-left: 25px;
    font-size: 20px;
    display: block;
}

.header .navigation li a {
    color: white;
    text-decoration: none;
}

.header .navigation li a:hover {
    color: rgb(236, 186, 57);
    text-shadow: gray;
}

h3 {
    font-family: Ubuntu;
}

.content {
    padding: 10px;
}

.icon-logo {
    width: 300px;
    height: 300px;
    background-color: tomato;
    border-radius: 50%;
}

.parent {
    margin-top: 100px;
}