.container {
    margin: auto;
    width: 70%;
    overflow: hidden;
}

.header {
    width: 100%;
    overflow: hidden;
    background-color:lightcoral;
    padding: 10px;
}

body {
    margin: 0;
}

.header .logo {
    font-size: 32px;
    float: left;
}

.header .navigation {
    float: right;
}
